---
/* Show blog articles
 * Each blog article is shown with title, date and its first paragraph.
 * It links to the full article.
 *
 * Features to implement laterL
 *  - Tags and search
 *  - Incremental loading/pagination/infinite scroll
 */
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1>Blog</h1>
</Layout>
