---
import Content, { frontmatter } from '../cv/de.md'
import '../cv/style.css'
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Felix Peppert - CV</title>
  </head>
  <body>
    <main>
      <img
        src="/portrait.jpg"
        class="portrait"
        alt="Portrait of Felix Peppert"
      />
      <Content />
      <section class="signature">
        <p>{frontmatter.place}, {frontmatter.date}</p>
        <p>Felix Peppert</p>
      </section>
    </main>
  </body>
</html>
