---
/* Show projects
 * Each project is shown with title, date, a short description and optional links to the
 * project, its source code and a blog post.
 */
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1>Blog</h1>
</Layout>
