<div
  class="flex w-full snap-end flex-row items-center justify-center space-x-2 py-8"
>
  <span>(c) Felix Peppert, 2025.</span>
  <span>Made with ♥️ in Berlin.</span>
  <a href="/impressum">Impressum</a>
</div>
