---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Felix Peppert - Software & Data Engineering"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Felix Peppert</title>

    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="379951b3-a37f-41cc-ad4f-ac184b824bc8"
        />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
